a {
  color: inherit;

  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  /* color: #fff; */
  font-size: 17px;

  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.Background-image {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  min-height: max-content;

  background-color: #000;
  position: relative;
  background-image: url("https://source.unsplash.com/1600x900/?code,technology");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.post-body p {
  font-size: 18px;
}
.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.808);

  animation-name: example;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-duration: 3s;
  max-width: 100%;
  backdrop-filter: blur(5px);
}
.overlay-two {
  max-width: 100%;
  background-image: url("https://source.unsplash.com/1600x900/?code,technology");
  background-attachment: fixed;
  width: 100vw;

  background-color: rgba(29, 14, 14, 0.842);
}
@keyframes example {
  from {
    backdrop-filter: blur(0px);

    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    backdrop-filter: blur(10px);

    background-color: rgba(0, 0, 0, 0.808);
  }
}

.h1,
h1 {
  font-size: 3.5rem;
}

.h2,
h2 {
  font-size: 2.5rem;
}

.h3,
h3 {
  font-size: 2rem;
}

.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.color-back {
  background-color: coral;
  padding: 10px 20px;

  width: fit-content;
}
.center-tag {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  justify-content: center;
}
.btn {
  width: fit-content;
  color: #000;
  font-weight: bold;
  background-color: aliceblue;
}
.btn:hover {
  background-color: rgb(179, 210, 238);
}
html {
  scroll-behavior: smooth;
}
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}
.navabr-slide {
  position: fixed;
  z-index: 999;
  padding: 30px;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
p {
  color: #fff;
}

.img {
  height: 200px;
  object-fit: cover;
  width: 300px;
}
.blog-container {
  width: 300px;

  margin: 10px;
  margin-bottom: 30px;
}
.row-element {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.date {
  padding: 5px 10px;
  width: fit-content;
  color: #fff;
  font-weight: w700;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  background: coral;
}
.center-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blog {
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(10px);
}
.chip {
  border-radius: 0;
  margin-bottom: 10px;
}
.post-body {
  color: #fff;
}
.fab {
  color: #fff;
}
.fas {
  color: #fff;
}
.raw {
  width: fit-content;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap");
p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.code {
  font-size: 16px;
  font-weight: normal;
  padding: 30px;
  color: black;
  background-color: rgb(93, 88, 88);
}
code {
  background-color: rgb(73, 69, 69);
  color: white;
  padding: 0 10px;
}
